doctype html
html(lang='en' ng-app='app')
	head
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.min.js")
		script(src="/js/ng-app.js")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
			
		meta(charset="utf-8")
		title Encyclopedia Budtanica

	body
		header.header-container
			img.logo(src='images/logo.png' href='/')
			.page-name Encyclopedia Budtanica
			.navbar-float
				nav(ng-controller="navbar")
					ul
						a(href='/')
							li(ng-class="{'active-nav' : whereAreWe('/')}").navbar-button Home
						a(href='about')
							li(ng-class="{'active-nav' : whereAreWe('/about')}").navbar-button About
						a(href='suggestions')
							li(ng-class="{'active-nav' : whereAreWe('/suggestions')}").navbar-button Suggestions
						a(href='new-cannabis')
							li(ng-class="{'active-nav' : whereAreWe('/new-cannabis')}").navbar-button I'm new to cannabis
						a(href="/logout" ng-show="!user")
							li.navbar-button logout
		block content

		script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js')
		