doctype html
html(lang='en' ng-app='app')
	head
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.min.js")
		script(src="/js/ng-app.js")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		
		meta(charset="utf-8")
		title Untitled

	body
		block content
		
		script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js')
		