extends loginLayout
block content
	.row
		.col-md-4.col-md-offset-4
			//- Error comes through via the context passed when calling res.render('login', {...})
			//- You'll see this in controllers/authentication.js
			//- If the error exists, we'll display it.
			if error
				h3= error
			//- Form for handling existing user logins.
			h1.text-center Existing Users
			form.form.form-group(action="/auth/login", method="post")
				input.form-control.form-group(type="text", name="username", placeholder="Username")
				input.form-control.form-group(type="password", name="password", placeholder="Password")
				input.form-control.form-group(type="submit")

	.row
		.col-md-4.col-md-offset-4
			//- Form for allowing new users to register.
			h1.text-center Register
			form.form.form-group(action="/auth/signup", method="post")
				input.form-control.form-group(type="text", name="username", placeholder="Username")
				input.form-control.form-group(type="email", name="email", placeholder="Email")
				input.form-control.form-group(type="password", name="password", placeholder="Password")
				input.form-control.form-group(type="submit")