extends layout
block content

	.container.text-color(ng-controller="suggestionBar")
		.row
			.col-md-12
				h3#suggestion-bar-title.text-color We're still growing!
				#custom-suggestion-input
					.input-group
						input.form-control.input-lg(ng-model="suggestion" name='text', placeholder='how can we improve this site?')
						span.input-group-btn
							button.btn.btn-info.btn-lg(type='button' ng-click="submitText()")
								span.glyphicon.glyphicon-send
		.row
			ul
				li(ng-repeat="suggestion in suggestions") {{suggestion.text}}