extends layout
block content
	header.header-container
		img.logo(src='images/logo.png')
		.page-name Encyclopedia Budtanica
		.navbar-float
			nav
				ul
					a(href='/')
						li.navbar-button Home
					a(href='about')
						li.navbar-button About
					a(href='suggestions')
						li.navbar-button.active-nav Suggestions
					a(href='new-cannabis')
						li.navbar-button I'm new to cannabis
					a(href="/logout" ng-show="!user")
						li.navbar-button logout
						
	.container.text-color(ng-controller="suggestionBar")
		.row
			.col-md-12
				h3#suggestion-bar-title.text-color We're still growing!
				#custom-suggestion-input
					.input-group
						input.form-control.input-lg(ng-model="suggestion" name='text', placeholder='how can we improve this site?')
						span.input-group-btn
							button.btn.btn-info.btn-lg(type='button' ng-click="submitText()")
								span.glyphicon.glyphicon-send
		.row
			ul
				li(ng-repeat="suggestion in suggestions") {{suggestion.text}}