extends layout
block content

	header.header-container
		img.logo(src='images/logo.png')
		.page-name Encyclopedia Budtanica
		.navbar-float
			nav
				ul
					a(href='/')
						li.navbar-button Home
					a(href='about')
						li.navbar-button.active-nav About
					a(href='suggestions')
						li.navbar-button Suggestions
					a(href='new-cannabis')
						li.navbar-button I'm new to cannabis
					a(href="/logout" ng-show="!user")
						li.navbar-button logout
	.container
		h3.about-text Wondering what this site is? 
		p.about-text.about-text-size
			| Welcome to Encyclopedia Budtanica, Encyclopedia Budtanica is an easy to use medicinal marijauna search engine for your everyday ailments. Currently this only houses marijauna strains, consentrates and other products will be added in the future.
		h3.about-text Ailment search categories:
		p.about-text.about-text-size
			| Stress, Pain, Depression, Insomnia, Lack of Appetite, Seizures, Muscle Spasms, Nausea, Anxiety, fatigue
