extends layout
block content

	.container
		h3.about-text Wondering what this site is? 
		p.about-text.about-text-size
			| Welcome to Encyclopedia Budtanica, Encyclopedia Budtanica is an easy to use medicinal marijauna search engine for your everyday ailments. Currently this only houses marijauna strains, consentrates and other products will be added in the future.
		h3.about-text Ailment search categories:
		p.about-text.about-text-size
			| Stress, Pain, Depression, Insomnia, Lack of Appetite, Seizures, Muscle Spasms, Nausea, Anxiety, Fatigue
